.skeleton {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

.skeleton.text {
  width: 100%;
  height: 12px;
  margin-bottom: 10px;
}

.skeleton.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.skeleton.title {
  width: 50%;
  height: 20px;
  margin-bottom: 15px;
}

.skeleton.thumbnail {
  width: 100%;
  height: 200px;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
